html {
  
  position: relative;
  min-height: 100%;
}

body {
	margin-top:20px;
	margin-bottom: 60px;
}

.btns {
  margin-top: 25px;
  display: block-inline;  
}

.btns button {
	margin: 0 15px 0 15px;
}

.btn:active {
   outline: none !important;
}

.btn:focus {
  outline: none;
}