<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div id="app"></div>

<script type="text/babel">
	class Test extends React.Component {
		constructor(props) {
			super(props);
		}

		render() {
			return (
				<div className="text-center">
					<h2>Australia is wider than the moon!</h2>
					<div className="btns">
						<button className="btn btn-default">True</button>
						<button className="btn btn-default">False</button>
				    </div>
				</div>
			)
		}
	}

	ReactDOM.render(<Test />, document.getElementById("app"));
</script>	

{% endblock %}