<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div id="app"></div>

<script type="text/babel">
	class Test extends React.Component {
		constructor(props) {
			super(props);
			this.state = {
				progress: 0,
				score: 0,
				message: "",
				allowScoreSubmission: true
			}
		}

		next(event) {
			const facts = this.props.facts;
			let answer = (event.target.innerHTML.toLowerCase() == 'true');
			if (answer === facts[this.state.progress].truth) {
				this.setState({
					score: this.state.score + 1
				});
			}
			this.setState({
				progress: this.state.progress + 1
			});
		}

		restart() {
			console.log(this.state.progress);
			this.setState({
				progress: 0,
				score: 0,
				message: "",
				allowScoreSubmission: true
			});
		}

		handleChange(event) {
			this.setState({name: event.target.value});
		}

		handleSubmit(event) {
			let _this = this;
			event.preventDefault();
			if (this.state.allowScoreSubmission) {
				let payload = {
					score: this.state.score,
					name: this.state.name
				}
				let url = window.location.href + "/submit";
				fetch(url, {
					method: 'POST',
					body: JSON.stringify(payload)
				})
				.then(function(response) {
		     		if (response.status == 200) {
		     			_this.setState({
		     				message: "Your score was posted to the leaderboard!",
		     				allowScoreSubmission: false
		     			});
		     		}
			    });
		    } else {
		    	_this.setState({
		    		message: "You've already submitted your score! Head over to the leaderboard to see how you did."
		    	});
		    }
		}

		renderQ() {
			return (
				<div className="text-center">
					<h2>{this.props.facts[this.state.progress].text}</h2>
					<div className="btns">
						<button className="btn btn-success" onClick={this.next.bind(this)}>True</button>
						<button className="btn btn-danger" onClick={this.next.bind(this)}>False</button>
				    </div>
				</div>
			)
		}

		renderEnd() {
			return (
				<div className="text-center">
					<h2>You scored {this.state.score} / {this.state.progress}</h2>
					<form onSubmit={this.handleSubmit.bind(this)}>
						<label>
							Name:
							<input type="text" value={this.state.value} onChange={this.handleChange.bind(this)} />
						</label>
						<input className="btn btn-sm btn-primary" type="submit" value="Submit" />
					</form>
					<p>{this.state.message}</p>
					<button className="btn btn-default" onClick={this.restart.bind(this)}>Restart</button>
					
				</div>
			)
		}

		render() {
			if (this.state.progress < this.props.facts.length) {
				return this.renderQ();
			} else {
				return this.renderEnd();
			}
		}
	}

	var facts = [
		{text: "Australia is wider than the moon.", truth: true},
		{text: "Paper can be folded in half 12 times.", truth: true},
		{text: "Apollo 11 mission required less then 150,000 lines of code.", truth: true},
		{text: "The Great Wall of China is the only human-made object visible from the Moon or from space.", truth: false},
		{text: "Lightning will never strike the same place twice.", truth: false},
		{text: "The Sun contains 99.8% of the mass in our solar system.", truth: true},
		{text: "A ball of glass will bounce higher than a ball of rubber.", truth: true}
	];

	ReactDOM.render(<Test facts={facts}/>, document.getElementById("app"));
</script>	

{% endblock %}