<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div id="app"></div>

<script type="text/babel">
	class Test extends React.Component {
		constructor(props) {
			super(props);
			this.state = {
				progress: 0,
				score: 0
			}
		}

		next(event) {
			const facts = this.props.facts;
			let answer = (event.target.innerHTML.toLowerCase() === 'true');
			if (answer === facts[this.state.progress].truth) {
				this.setState({
					score: this.state.score + 1
				});
			}
			this.setState({
				progress: this.state.progress + 1
			});
		}

		renderQ() {
			return (
				<div className="text-center">
					<h2>{this.props.facts[this.state.progress].text}</h2>
					<div className="btns">
						<button className="btn btn-default" onClick={this.next.bind(this)}>True</button>
						<button className="btn btn-default" onClick={this.next.bind(this)}>False</button>
				    </div>
				</div>
			)
		}

		renderEnd() {
			return (
				<h2>You scored {this.state.score} / {this.state.progress}</h2>
			)
		}

		render() {
			if (this.state.progress < this.props.facts.length) {
				return this.renderQ();
			} else {
				return this.renderEnd();
			}
		}
	}

	var facts = [
		{text: "Australia is wider than the moon!", truth: true},
		{text: "Paper can be folded in half 12 times.", truth: true},
		{text: "Apollo 11 mission required less then 150,000 lines of code", truth: true}
	];

	ReactDOM.render(<Test facts={facts}/>, document.getElementById("app"));
</script>	

{% endblock %}